// Assignments

$h1Color: $primary;
$h2Color: $primary;
$h3Color: $primary;
$h4Color: $primary;
$h5Color: $primary;
$pColor: $primary;
$aColor: $primary;
$buttonForeground: $primary;

$h1Background: $tertiary;
$h2Background: $tertiary;
$h3Background: $tertiary;
$h4Background: $tertiary;
$h5Background: $tertiary;
$pBackground: $tertiary;
$aBackground: $tertiary;
$aHoverBackground: $tertiary;
$buttonBackground: $tertiary;
$buttonHoverBackground: $tertiary;

////
// Fonts
////

$primaryFont: "Raleway";
$secondaryFont: "open-sans-pro";

$h1Font: $primaryFont;
$h2Font: $primaryFont;
$h3Font: $primaryFont;
$h4Font: $primaryFont;
$h5Font: $primaryFont;
$aFont: $primaryFont;
$pFont: $primaryFont;
$buttonFont: $primaryFont;

$h1Color: $primary;
$h2Color: $primary;
$h3Color: $primary;
$h4Color: $primary;
$h5Color: $primary;
$pColor: $primary;
$aColor: $primary;
$buttonColor: $primary;

////
// Sizes
////

$xLargeFont: 3rem;
$largeFont: 2.25rem;
$mediumFont: 2rem;
$smallFont: 1.5rem;
$smallerFont: 1.25rem;
$xSmallFont: 1rem;
$xXSmallFont: .75rem;

$h1FontSizeMobile: $largeFont;
$h1FontSizeDesktop: $xLargeFont;
$h2FontSizeMobile: $smallerFont;
$h2FontSizeDesktop: $smallFont;
$h3FontSizeMobile: $smallFont;
$h3FontSizeDesktop: $smallerFont;
$h4FontSizeMobile: $smallFont;
$h4FontSizeDesktop: $smallerFont;
$h5FontSizeMobile: $xSmallFont;
$h5FontSizeDesktop: $xSmallFont;
$pFontSizeMobile: $smallerFont;
$pFontSizeDesktop: $xSmallFont;
$aFontSizeMobile: $smallerFont;
$aFontSizeDesktop: $smallFont;
$buttonFontSizeMobile: $smallerFont;
$buttonFontSizeDesktop: $smallerFont;

////
// Weights
////

$h1Weight: "900";
$h2Weight: "600";
$h3Weight: "600";
$h4Weight: "600";
$h5Weight: "300";
$pWeight: "300";
$aWeight: "500";
$buttonWeight: "600";

$sectionPaddingY: 1em;
$sectionPaddingX: 1em;
$contentWidth: 65%;
$contentMax: 50em;
$logoListMax: 25em;
$contentMaxConstained: 31em;
$lineHeight: 1.5;